<%- layout('layouts/boilerplate') %>



<div class="row mt-3">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
            <h2><%= err.statusCode %></h2>
            <p><%= err.message %></p>
        </div>
    </div>
</div>